<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AthleticBilbao</key>
	<string>valenciacf</string>
	<key>AtleticoMadrid</key>
	<string>valenciacf</string>
	<key>FCBarcelona</key>
	<string>valenciacf</string>
	<key>Betis</key>
	<string>fcBarcelona.png</string>
	<key>Celta</key>
	<string>valenciacf</string>
	<key>DeportivoCoruña</key>
	<string>fcBarcelona.png</string>
	<key>Eibar</key>
	<string>valenciacf</string>
	<key>Espanyol</key>
	<string>fcBarcelona.png</string>
	<key>Getafe</key>
	<string>fcBarcelona.png</string>
	<key>Granada</key>
	<string>valenciacf</string>
	<key>LasPalmas</key>
	<string>fcBarcelona.png</string>
	<key>Levante</key>
	<string>fcBarcelona.png</string>
	<key>Malaga</key>
	<string>fcBarcelona.png</string>
	<key>RayoVallecano</key>
	<string>valenciacf</string>
	<key>RealMadrid</key>
	<string>fcBarcelona.png</string>
	<key>RealSociedad</key>
	<string>valenciacf</string>
	<key>Sevilla</key>
	<string>fcBarcelona.png</string>
	<key>SportingGijon</key>
	<string>valenciacf</string>
	<key>Valencia</key>
	<string>fcBarcelona.png</string>
	<key>Villareal</key>
	<string>valenciacf</string>
</dict>
</plist>
